fastapi==0.141.1
uvicorn==0.52.4
firebase-admin==7.5.0
pandas==3.0.5
pwdlib[argon2]==0.3.1
pydantic==2.13.4
python-dotenv==1.2.3
SQLAlchemy==2.0.52
psycopg2-binary==2.9.12

python-multipart
pypdf
supabase

strands-agents[openai]==1.55.1
strands-agents-tools==0.8.8

numpy
pytesseract
Pillow
pdf2image
